@model Salon1.Models.Booking

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Booking for Current Customer</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.TimeStart, "Start Date/Time ", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TimeStart)
                @Html.ValidationMessageFor(model => model.TimeStart)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndTime, "End Date/Time", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndTime)
                @Html.ValidationMessageFor(model => model.EndTime)
            </div>
        </div>

        

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerID, "Customer Name", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CustomerID", String.Empty)
                @Html.ValidationMessageFor(model => model.CustomerID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StaffID, "Staff Name", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StaffID", String.Empty)
                @Html.ValidationMessageFor(model => model.StaffID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StatusID, "Status", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StatusID", String.Empty)
                @Html.ValidationMessageFor(model => model.StatusID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TreatmentID, "Treatment Name", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TreatmentID", String.Empty)
                @Html.ValidationMessageFor(model => model.TreatmentID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
