@model Salon1.Models.Notifier

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Notifier</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Booking.BookingID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Booking.BookingID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.LastName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NotifierID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
